[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyautogui = "*"
selenium = "*"
pyobjc-core = "*"
pyobjc = "*"
chromedriver-binary = "*"
robotframework = "*"
docutils = "*"
robotframework-seleniumlibrary = "*"
robotframework-debuglibrary = "*"
robotframework-lint = "*"
robotframework-datadriver = "*"
setuptools = "*"

[requires]
python_version = "3.7"
